@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "inter", sans-serif;
}

.slick-slide > div{
    margin: 0 10px;
}

.port{
    background-image: url(../src/assets/img/hero.jpg) !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 100vh !important;
    opacity: 0.9;
}

h1 {
    font-family: 'Rubik moonrocks', 'sans-serif';
}

.car {
    background-image: url(../src/assets/img/hero.jpg) !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    opacity: 0.9;
}
