.sidebar {
    width: 25%;
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  .profile {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ffffff;
  }
  .profile h1{
    font-size: 68px;
    color: #333;
  }

  
  .navigation ul {
    list-style: none;
    padding: 0;
  }
  
  .navigation li {
    margin: 10px 0;
  }
  
  .navigation a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
  }
  
  .navigation a:hover {
    background-color: #555;
  }
  